.navbar {
    padding-left: 40px;

    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
}

.logo {
    width: 100px;
}
.avatar-search{
    display: flex;
    align-items: center;
}
.avatar{
    width: 40px;
    border-radius: 12px;
    transition: transform 300ms ease-in-out;
}
.avatar:hover,
.avatar:focus{
    transform: scale(0.75);
}
.search-icon{
    width: 20px;
    margin-right: 20px;
}

.menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.menu ul li a{
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-family: "inter",sans-serif;
    font-weight: 400;
}
.menu ul li a.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform  300ms ease-in-out;
}
.menu ul li a.underline:hover::before,
.menu ul li a.underline:focus::before{
    transform-origin: left;
    transform: scaleX(1);
}

@media screen and (max-width: 768px){
    .menu{
        display: none;
    }
}

